{% extends 'base.html.twig' %}

{% block title %}Showroom{% endblock %}

{% block body %}

    {% for car in cars %}
        {% set url = path('show', {'slug': car.slug}) %}
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                {{ car.marque }}  <strong>{{car.prix}} €</strong>
            </div>
            <a href="{{url}}">
                <img src="{{ car.coverImage }}" alt="image de {{ car.modele }}" class="carsimg">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    {{ car.modele }}
                </h4>
                <p class="card-text">
                    {{ car.description }}
                </p>
                <a href="{{url}}" class="btn btn-secondary">En savoir plus</a>
            </div>

        </div>
    </div>
    {% endfor %}
{% endblock %}
